html{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
}
body{
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content:center
}

.clock{
    width: 30rem;
    height: 30rem;
    border: 20px solid pink;
    border-radius: 50%;
    margin: 50 px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
    0 0 0px 4px rbga(0,0,0,0.1),
    inset 0 0 0 3px white,
    inset 0 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
    align-items: center;

}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px)
}
.hand{
    width: 50%;
    height: 6px;
    background: white;
    position: absolute;
    top:50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
}
.hour-hand{
    height: 10px;
}
.second-hand{
    height: 4px;
}